@font-face {
    font-weight: 400;
    font-family: IBMPlexSans-Regular;
    font-style: normal;
    src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: IBMPlexSans-Bold;
    font-style: normal;
    src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
    font-display: swap;
}